backend:
  name: github
  repo: snamyorg1/test1
  base_url: https://app.staticauth.com
  auth_endpoint: /auth/github/repo/6964ef358a3239f204717015
  branch: main
media_folder: static/uploads
public_folder: /uploads
collections:
  - name: blog
    label: Blog
    folder: content/blog
    create: true
    slug: '{{slug}}'
    fields:
      - label: Title
        name: title
        widget: string
      - label: Date
        name: date
        widget: datetime
      - label: Body
        name: body
        widget: markdown
